

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hello {
  text-align: left;
}
.container{
  margin-right:6em;
  margin-left:6em
}

.images {
  border-radius: 50%;
  max-width:50px;
  max-height:50px;
}

.lets {
  display: flex;
  justify-content: space-between;
}

.avatar {
  display:flex;
  flex-direction: column;
}


#positionContent {
  text-align: left;
}

#big {
  font-size: 90px;
  margin-top: 10%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

/* body {
  background-image: url("backgroundpic.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150%;
  position: absolute; 
  object-fit: fill;
}*/ 

.splash{
  background-image: url("backgroundpic.jpg");
  background-repeat: no-repeat;
  background-size: 100%; 
}

.box {
  margin-bottom: 20%;
}

#submit {
  margin-top: 10%;
}

#pass {
  margin-top: 10%;
}